.main-form {
  max-width: 500px;
  margin-top: 20px;
  /* Add space from the top */
  margin-left: 310px;
  /* Adjust to account for sidebar */
  padding: 20px;
  background-color: #ffffff;
  /* White background color */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  left: 200px;
  /* Soft shadow */
}

.form-label {
  font-weight: bold;
}

.form-control,
.form-select,
.btn {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Soft shadow for button */
}

.btn-primary:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Slightly darker shadow on hover */
}